/* home.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1569c2e8;
    color: #ffffff;
    margin: 0;
  }
  
  .question-container {
    background: linear-gradient(145deg, #0056b3, #1e4594);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(30, 2, 106, 0.4);
    width: 90%;
    max-width: 600px;
    text-align: center;
  }
  
  h2 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: #e0e0e0;
  }
  
  .answers {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 1rem;
  }
  
  /* button {
    background: linear-gradient(145deg, #00d0ff, #000000);
    color: #ffffff;
    padding: 1rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
  }
  
  button:hover {
    background: linear-gradient(145deg, #5a5a5a, #6a6a6a);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
  }
  
  button:active {
    background: #2a2a2a;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.8);
  } */
  
  .score,
  .prize {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #b0b0b0;
  }
  
  .result {
    text-align: center;
    font-size: 1.5rem;
    color: #e0e0e0;
  }
/*   
  .result button {
    margin-top: 2rem;
    background: linear-gradient(145deg, #3a3a3a, #4a4a4a);
  }
  
  .result button:hover {
    background: linear-gradient(145deg, #5a5a5a, #6a6a6a);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
  }
  
  .result button:active {
    background: #2a2a2a;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.8);
  } */
  
  
button.correct {
    background-color: #2ddf0d; /* Зеленый цвет для правильного ответа */
    color: #ffffff;
  }
  
  button.incorrect {
    background-color: #f44336; /* Красный цвет для неправильного ответа */
    color: #ffffff;
  }
  
  button:hover:not(.correct):not(.incorrect) {
    background: linear-gradient(145deg, #0b025b, #6a6a6a);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
  }
  
  button:active {
    background: #05165b;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.8);
  }

